
/*header start*/
@import "header";
.header-main{
	a.dropdown-toggle::before{
		width:0;
	}
	li.dropdown:hover .fa-search{
		color: $color-yellow;
	}
}
/*header end*/
.fixed-menu{
	width: 100%;
	top: 0 !important;
	position: sticky;

}
/*product shop start*/
.main-container{
	font-family: $font-Roboto;
	margin: 20px 0;	
	/*mobile btn start*/
	.btn-box{
		margin-top: -20px;
	}
	.sidepanel  {
		width: 200px;
		position: absolute;
		z-index: 1;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		a {
			text-decoration: none;
			font-size: 20px;
			color: #818181;
			display: block;
			transition: 0.3s;
			color: #fff;
		}
		.closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 30px;
		}
		ul{
			height: 100%;
			li{
				width: 100%;
				cursor: pointer;
			}
			hr{
				width: 100%;border-top: 1px solid rgba(252, 225, 58, 0.99);
				margin: 0;
			}
		}
	}
	.sidepanel a:hover {
		color: $color-yellow;
	}
	.openbtn {
		font-size: 20px;
		cursor: pointer;
		background-color: #3d3d3d;
		color: white;
		padding: 8px 15px;
		border: none;
	}
	.openbtn:hover {
		background-color:#171515;
	}
	/*mobile btn end*/
	.service-left{
		border: 1px solid rgba(0,0,0,0.5);
		padding: 0;
		height: 100%;
		li.nav-item{
			border-bottom: 1px solid rgba(0,0,0,0.5);
			&:last-child {
				border-bottom: none;
			}
			a{
				color: black;
			}
			&:hover {
				background-color: #f8c77d63;
				cursor: pointer;
			}
		}
		.current{
			background-color: #f3c27ab8;
		}
	}
	.box-right-store{
		.store-item {
			margin-bottom: 15px;
		}
		.quickview-button{
			width: 100%;
			overflow: hidden;
			position: relative;
			border: 1px solid rgba(0,0,0,0.1);
			box-sizing: border-box;
			border-radius: 4px;
			img{
				position: relative;
				width: 100%;
				top: 0;
				left: 0;
				border-radius: 4px;
			}
			.overlay {
				background: rgba(0, 0, 0, 0.15);
				height: 100%;
				left: 0;
				top: -100%;
				width: 100%;
				position: absolute;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-o-transition: all 0.5s;
				transition: all 0.5s;  
				z-index: 0;
			}
			.quickview-item{
				background:rgba(0,0,0,0.15);
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2;
				color: #fff;
				text-align: center;
				width: 100%;
				display: none;
				-webkit-transition: all 30s;
				-moz-transition: all 30s;
				-o-transition: all 30s;
				transition: all 30s;  
				a{
					color: #fff;
					text-transform: capitalize;
					border: none;
					outline: none;
				}
			}
			&:hover{
				.overlay,{
					top:0;
				}
				.quickview-item{
					display: block;
				}
			}
		}
		.product-bottom{
			text-align: center;
			margin-top: 15px;
			a{
				color: black;
				font-weight: 400;
				font-size: 15px;
			}
			span{
				display: block;
				color: $color-yellow;
			}
			&:hover{
				a{
					color: $color-yellow;
				}
			}
		}
		.page-number{
			display: flex;
			justify-content: center;
		}
	}
}
/*product shop e*/
/*POST MODAL START*/
.view-main{
	font-family: $font-Roboto ;
	.view-img {
		img{
			width: 100%;
		}
	}
	.view-title{
		margin-left: 30px;
		p{
			font-size: 17px;
			span{
				font-size: 14px;
				font-weight: 400;
			}
			&:last-child{
				color: $color-yellow;
				font-size: 24px;
			}
		}
	}
}
/*POST MODAL END*/

/*FOOTER START*/
@import "footer";
/*FOOTER END*/

/*REPONSIVE TABLET  START*/
@media (min-width: 575px) and (max-width: 768px) {
	
}			
/*REPONSIVE TABLET  END*/

/*REPONSIVE DESKTOP MIN START*/
@media (min-width: 768px) and (max-width: 992px){
	.main-container{
		.box-right-store{
			margin-left: 15px !important;
			padding-top: 130px;
		}
	}
}
/*REPONSIVE DESKTOP END*/

/*REPONSIVE DESKTOP MAX*/
@media (min-width: 992px){
	
	/*box right*/
	.main-container{
		.box-right-store{
			margin-left: 15px !important;
		}
	}
}
